@import "~@uppy/core/dist/style.css";
@import "~@uppy/dashboard/dist/style.css";
@import '~sal.js/dist/sal.css';
/**
* This injects Tailwind's base styles, which is a combination of
* Normalize.css and some additional base styles.
*
* You can see the styles here:
* https://github.com/tailwindcss/tailwindcss/blob/master/css/preflight.css
*
* If using `postcss-import`, use this import instead:
*
* @import "tailwindcss/preflight";
*/
@tailwind preflight;
/**
 * This injects any component classes registered by plugins.
 *
 * If using `postcss-import`, use this import instead:
 *
 * @import "tailwindcss/components";
 */
@tailwind components;
/* Base */
@font-face {
  font-family: Sahel;
  src: url("../fonts/Sahel.eot");
  src: url("../fonts/Sahel.eot?#iefix") format("embedded-opentype"), url("../fonts/Sahel.woff2") format("woff2"), url("../fonts/Sahel.woff") format("woff"), url("../fonts/Sahel.ttf") format("truetype");
  font-weight: normal;
}
@font-face {
  font-family: Sahel;
  src: url("../fonts/Sahel-Bold.eot");
  src: url("../fonts/Sahel-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Sahel-Bold.woff2") format("woff2"), url("../fonts/Sahel-Bold.woff") format("woff"), url("../fonts/Sahel-Bold.ttf") format("truetype");
  font-weight: bold;
}
::-webkit-input-placeholder {
  color: #8795a1 !important;
}

::-moz-placeholder {
  color: #8795a1 !important;
}

:-ms-input-placeholder {
  color: #8795a1 !important;
}

:-moz-placeholder {
  color: #8795a1 !important;
}

[v-cloak] {
  display: none;
}

body {
  @apply bg-grey-lightest font-normal;
}

h1, h2, h3, h4, h5, h6 {
  @apply text-grey-darkest;
}

a {
  @apply no-underline;
}

hr {
  @apply border-t border-grey-light mb-8;
}

.absolute-center {
  @apply absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.container {
  @apply w-full mx-auto px-4;
  background-size: cover;
  background-repeat: no-repeat;
}

@screen sm {
  .container {
    max-width: 576px;
  }
}
@screen md {
  .container {
    max-width: 768px;
  }
}
@screen lg {
  .container {
    max-width: 992px;
  }
}
@screen xl {
  .container {
    max-width: 1200px;
  }
}
.uppy-Root {
  font-family: "Sahel" !important;
}

.uppy-Dashboard-inner {
  border: 1px dashed #ced4da !important;
}

.uppy-Dashboard-browse {
  text-decoration: none !important;
}

.uppy-DashboardAddFiles {
  background-image: url("../images/upload-background.svg");
  background-repeat: no-repeat;
  background-position: center center;
  justify-content: flex-end !important;
  padding-bottom: 4rem;
  text-align: right;
}

.uppy-size--md .uppy-Dashboard-dropFilesTitle {
  font-size: 14px !important;
  max-width: 600px !important;
}

.uppy-Dashboard-dropFilesTitle {
  font-size: 14px !important;
}

.uppy-DashboardItem-statusSize {
  direction: ltr;
}

.uppy-DashboardContent-bar {
  flex-direction: row-reverse !important;
  border-bottom: 1px dashed #ced4da !important;
}

.uppy-DashboardItem {
  padding-right: 10px;
  flex-wrap: wrap !important;
}

.uppy-size--md .uppy-DashboardItem {
  float: right !important;
}

.uppy-size--md .uppy-DashboardItem-action {
  right: auto !important;
  left: -8px !important;
}

.uppy-DashboardItem-action {
  right: auto !important;
  left: 10px !important;
}

.uppy-size--md .uppy-StatusBar {
  height: 60px !important;
}

.uppy-StatusBar {
  @apply z-10;
}
.uppy-StatusBar.is-uploading {
  background-color: #E3F5FD !important;
}
.uppy-StatusBar.is-uploading::before {
  background-color: #A3DFF8 !important;
}
.uppy-StatusBar.is-uploading .uppy-StatusBar-progress {
  background-color: #0CAAEE;
}
.uppy-StatusBar.is-uploading .uppy-StatusBar-content {
  color: #055070 !important;
  position: relative;
  padding-right: 50px;
}
.uppy-StatusBar.is-uploading .uppy-StatusBar-content::before {
  position: absolute;
  content: "";
  background-image: url("../images/alert-document.svg");
  width: 34px;
  height: 45px;
  background-repeat: no-repeat;
  background-position: right center;
  right: 10px;
}
.uppy-StatusBar.is-uploading .uppy-StatusBar-content svg {
  display: none !important;
}
.uppy-StatusBar.is-error {
  background-color: #ffeded !important;
}
.uppy-StatusBar.is-error::before {
  background-color: #ff5a5d !important;
}
.uppy-StatusBar.is-error .uppy-StatusBar-progress {
  background-color: #ff5a5d !important;
}
.uppy-StatusBar.is-error .uppy-StatusBar-content {
  color: #782a2b !important;
  position: relative;
  padding-right: 50px;
}
.uppy-StatusBar.is-error .uppy-StatusBar-content svg {
  display: none !important;
}
.uppy-StatusBar.is-error .uppy-StatusBar-content::before {
  position: absolute;
  content: "";
  background-image: url("../images/alert-document-error.svg");
  width: 34px;
  height: 45px;
  background-repeat: no-repeat;
  background-position: right center;
  right: 10px;
}
.uppy-StatusBar.is-complete {
  background-color: #e8fffe !important;
}
.uppy-StatusBar.is-complete::before {
  background-color: #00B38F !important;
}
.uppy-StatusBar.is-complete .uppy-StatusBar-progress {
  background-color: #00B38F !important;
}
.uppy-StatusBar.is-complete .uppy-StatusBar-content {
  color: #20504f !important;
  position: relative;
  padding-right: 50px;
}
.uppy-StatusBar.is-complete .uppy-StatusBar-content svg {
  display: none !important;
}
.uppy-StatusBar.is-complete .uppy-StatusBar-content::before {
  position: absolute;
  content: "";
  background-image: url("../images/alert-document-success.svg");
  width: 34px;
  height: 45px;
  background-repeat: no-repeat;
  background-position: right center;
  right: 10px;
}

.uppy-size--md .uppy-StatusBar.is-waiting .uppy-StatusBar-actionBtn--upload,
.uppy-u-reset .uppy-c-btn .uppy-StatusBar-actionBtn .uppy-StatusBar-actionBtn--upload .uppy-c-btn-primary,
.uppy-StatusBar.is-waiting .uppy-StatusBar-actionBtn--upload {
  box-shadow: 0 3px 24px rgba(90, 93, 255, 0.3) !important;
  background-color: #5a5dff !important;
  border-radius: 50px !important;
  padding-left: 24px !important;
  padding-right: 24px !important;
  padding-top: 12px !important;
  padding-bottom: 12px !important;
  text-align: center !important;
}

.uppy.uppy-Informer p {
  @apply bg-white shadow;
  border-top: 3px solid #ff5a5d;
  border-radius: 4px !important;
  color: #ff5a5d !important;
}

trix-editor {
  @apply bg-white;
  border: 1px solid #dae1e7 !important;
  min-height: 300px !important;
}
trix-editor:focus {
  @apply border-indigo;
}

.uppy-DashboardItem-preview {
  margin-left: 1rem !important;
}

.redpencil-attachment:hover__icon {
  border-color: white !important;
}

.h_iframe-aparat_embed_frame {
  position: relative;
}

.h_iframe-aparat_embed_frame .ratio {
  display: block;
  width: 100%;
  height: auto;
}

.h_iframe-aparat_embed_frame iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.dashboard-title {
  @apply mb-3;
}

.dashboard-text {
  @apply text-grey-dark leading-normal text-sm;
}

.form-excerpt {
  @apply text-grey-dark text-xs leading-normal;
}

.title-custom-bg {
  background-image: url("../images/custom-title-bg.svg");
  background-size: 250px 250px;
  background-repeat: no-repeat;
  background-position: center center;
}

.title {
  @apply text-red relative inline-flex items-center mb-6;
  padding-right: 100px;
}
.title::before {
  content: "";
  @apply absolute h-1 bg-red pin-r;
  top: 50%;
  transform: translate(0, -50%);
  width: 80px;
}

.list {
  @apply list-reset mx-auto;
}
.list li {
  @apply relative text-sm pr-6 text-right mb-3 leading-normal;
}
.list li::before {
  content: "";
  @apply absolute pin-r bg-green-light rounded-full;
  width: 10px;
  height: 10px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}

/* Components */
.button {
  @apply inline-block rounded-full rounded-full text-sm px-6 py-3;
  transition: all 0.3s;
}
.button:focus {
  @apply outline-none shadow-outline-indigo;
}
.button:hover {
  transform: translateY(-2px);
  @apply shadow-xl;
}
.button--block {
  @apply w-full justify-center;
}
.button--primary {
  @apply bg-red shadow-button text-white;
}
.button--primary:disabled {
  @apply border border-indigo-lighter bg-indigo-lightest text-indigo-lighter;
}
.button--primary:disabled:hover {
  @apply shadow-none;
  transform: none;
}
.button--success {
  @apply bg-green text-white;
}
.button--info {
  @apply bg-blue text-white;
}
.button--neutral {
  @apply bg-grey-darker text-sm text-white px-6 py-3 rounded shadow-md border-transparent;
}
.button--neutral:hover {
  @apply shadow-xl;
  transform: none;
}
.button--smooth--danger {
  @apply bg-red-lightest text-red;
}
.button--smooth--danger:hover {
  transform: none;
}
.button--smooth--primary {
  @apply bg-indigo-lightest text-indigo;
}
.button--smooth--primary:disabled {
  @apply bg-grey-lighter text-indigo-lighter;
}
.button--smooth--primary:hover {
  transform: none;
}
.button--smooth--success {
  @apply bg-green-lightest text-green;
}
.button--smooth--success:hover {
  transform: none;
}
.button--outline {
  @apply bg-transparent rounded text-grey-dark;
  transition: none;
}
.button--outline i {
  @apply mr-2;
}
.button--outline--danger {
  @apply border border-red text-red;
}
.button--outline--danger:hover {
  @apply bg-red text-white;
  transform: none;
}
.button--outline--danger:hover i {
  @apply text-white;
}
.button--outline--danger i {
  @apply text-red;
}
.button--outline--primary {
  @apply border border-indigo text-indigo text-sm;
}
.button--outline--primary:hover {
  @apply bg-indigo text-white;
  transform: none;
}
.button--simple {
  @apply bg-white text-grey-darker shadow;
}
.button--thin {
  @apply px-6 py-2 text-xs;
}
.button--default {
  @apply .bg-grey-lighter .text-blue-darker rounded text-sm px-6;
}
.button--default:hover {
  transform: translate(0px);
  @apply bg-grey-light;
}
.button:active {
  transform: translateY(0px);
  box-shadow: none;
}

.card-button {
  @apply absolute pin-l text-2xl bg-green-lightest text-green rounded rounded-r-none pin-t h-full;
  width: 60px;
}

.button > img.loader {
  max-width: 40px;
}

.label {
  @apply block text-grey-darker mb-2;
}

.textarea {
  @apply p-3 border text-sm w-full rounded leading-loose;
  min-height: 100px;
}
.textarea:focus {
  @apply border-indigo outline-none;
}

.input {
  @apply appearance-none block w-full bg-grey-lighter text-grey-darker border border-grey-lighter rounded py-3 px-4 leading-tight;
}
.input--danger {
  @apply border border-red;
}
.input--right {
  padding-right: 2.5rem !important;
}
.input:focus {
  @apply outline-none bg-white border-grey;
}
.input-icon {
  @apply absolute absolute-center pin-l ml-6 text-grey-dark;
}

.label-check {
  @apply overflow-hidden relative;
}
.label-check .check-toggle {
  @apply w-4 h-4 relative inline-block align-middle border border-grey-light rounded-sm cursor-pointer;
}
.label-check:hover .check-toggle {
  @apply border-indigo;
}
.label-check .check-custom {
  @apply absolute w-px h-px overflow-hidden;
  left: -10000px;
  top: auto;
}
.label-check .check-custom:checked ~ .check-toggle {
  @apply bg-indigo border-indigo;
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNiIgaGVpZ2h0PSIxNiIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSJub25lIiBzdHJva2U9IiNmZmZmZmYiIHN0cm9rZS13aWR0aD0iMyIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIj48cG9seWxpbmUgcG9pbnRzPSIyMCA2IDkgMTcgNCAxMiI+PC9wb2x5bGluZT48L3N2Zz4=);
  background-position: center;
  background-repeat: no-repeat;
  outline: 0;
}
.label-check .check-custom:checked:disabled ~ .check-toggle {
  @apply bg-grey border-grey;
}

.form-group label {
  @apply block text-grey-darker mb-3;
}

.form-group label.mb-0 {
  @apply mb-0;
}

.dashboard-label {
  @apply text-sm;
}

.form-group {
  @apply mb-6;
}

::selection {
  @apply bg-indigo text-white;
}

.select {
  @apply relative z-0;
}
.select select {
  @apply block appearance-none w-full bg-grey-lighter border border-grey-lighter text-grey-darker py-3 px-4 pl-8 rounded leading-tight;
}
.select select:focus {
  @apply outline-none bg-white border-grey;
}
.select__icon {
  @apply pointer-events-none absolute pin-t pin-b pin-l flex items-center px-2 text-grey-darker;
}
.select__svg {
  @apply fill-current h-4 w-4;
}

.has-icon {
  @apply inline-flex items-center;
}
.has-icon i {
  @apply ml-1 relative;
}

.card {
  @apply bg-white p-8 shadow rounded;
}
.card__separator {
  @apply w-full my-3;
  height: 1px;
}
.card-type-1 {
  @apply text-purple relative bg-purple-lightest;
  z-index: -1;
}
.card-type-1::before {
  @apply absolute pin-l pin-t text-sm bg-purple text-white p-1 rounded mt-3 ml-3;
}
.card-type-1::after {
  @apply absolute bg-purple rounded-full border-grey-lightest border-4;
  width: 20px;
  height: 20px;
  right: calc(100% - 10px);
  bottom: calc(100% - 10px);
  content: "";
}
.card-type-1 .far {
  @apply text-purple-light;
}
.card-type-1 .card__separator {
  @apply bg-purple-lighter;
}
.card-type-2 {
  @apply bg-teal-lightest text-teal relative;
}
.card-type-2::before {
  @apply absolute pin-l pin-t text-sm bg-orange-darker p-1 rounded mt-3 ml-3;
}
.card-type-2::after {
  @apply absolute bg-teal rounded-full border-grey-lightest border-4;
  width: 20px;
  height: 20px;
  right: calc(100% - 10px);
  bottom: calc(100% - 10px);
  content: "";
}
.card-type-2 .far {
  @apply text-teal-light;
}
.card-type-2 .card__separator {
  @apply bg-teal-lighter;
}
.card-type-3 {
  @apply bg-red-lightest text-red relative;
  z-index: -1;
}
.card-type-3::before {
  @apply absolute pin-l pin-t text-sm bg-green-darker p-1 rounded mt-3 ml-3;
}
.card-type-3::after {
  @apply absolute bg-red rounded-full border-grey-lightest border-4;
  width: 20px;
  height: 20px;
  right: calc(100% - 10px);
  bottom: calc(100% - 10px);
  content: "";
}
.card-type-3 .card__separator {
  @apply bg-red-lighter;
}
.card-type-1 .card__price {
  @apply text-indigo border-indigo;
}
.card-type-1 .card__doc-icon, .card-type-2 .card__doc-icon, .card-type-3 .card__doc-icon {
  @apply rounded-full text-center relative mb-6;
}
.card-type-1 .card__doc-icon img, .card-type-2 .card__doc-icon img, .card-type-3 .card__doc-icon img {
  @apply absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.card__price {
  @apply text-2xl py-3;
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.feedback--invalid {
  @apply .bg-red-lightest mt-2 px-3 .py-2 .text-red-dark rounded .border-r-4 .border-red text-xs .leading-normal;
}

.navbar {
  @apply py-4 mb-24 relative z-50;
}
.navbar__nav {
  @apply flex list-reset;
}
.navbar__nav li {
  @apply ml-6;
}
.navbar__nav a {
  @apply no-underline text-grey-dark;
}
.navbar__nav a.active {
  @apply text-red;
}

.dashboard-nav {
  @apply fixed pin-b bg-white w-full pin-r;
}
.dashboard-nav__parent {
  @apply relative;
}
.dashboard-nav__user {
  @apply text-center pb-6 mb-6;
}
.dashboard-nav__user span {
  @apply text-grey-dark text-xs;
}
.dashboard-nav__avatar {
  @apply rounded-full mx-auto mb-3 relative;
  width: 100px;
  height: 100px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
.dashboard-nav__avatar-gear {
  @apply bg-indigo inline-flex text-white items-center justify-center rounded-full absolute cursor-pointer shadow-md;
  width: 25px;
  height: 25px;
  bottom: 5px;
  left: 5px;
}
.dashboard-nav__avatar-gear i {
  @apply text-white;
}
.dashboard-nav__list {
  @apply list-reset pb-4 border-b border-grey-lighter mb-8;
}
.dashboard-nav__list a {
  @apply no-underline text-grey-darkest text-sm w-full px-6 py-4;
}
.dashboard-nav__list a:hover {
  @apply text-indigo bg-indigo-lightest;
}
.dashboard-nav__list a:hover:hover i {
  @apply text-indigo;
}
.dashboard-nav__list a i {
  @apply text-grey-dark text-base;
}
.dashboard-nav__back {
  @apply absolute pin-b p-6 border-t border-grey-lighter w-full text-center;
}
.dashboard-nav__back a {
  @apply no-underline text-xs;
}
.dashboard-nav__back a i {
  @apply text-sm;
}

.dropdown-content ul {
  @apply list-reset;
}
.dropdown-content ul a {
  @apply text-grey-dark flex p-3;
}
.dropdown-content ul a:hover {
  @apply bg-indigo-lightest text-indigo-dark;
}

.dropdown-left .dropdown-content {
  left: 0;
  right: auto !important;
  top: 100% !important;
}

.upload-levels__title {
  @apply ml-8;
}
.upload-levels__list {
  @apply flex list-reset flex-1 justify-between items-center relative w-full;
}
.upload-levels__list::before {
  content: "";
  position: absolute;
  width: 100%;
  @apply bg-grey-dark;
  left: 0;
  top: 50%;
  transform: translate(0, -50%);
  height: 1px;
  z-index: -1;
}
.upload-levels__item {
  position: relative;
  width: 8px;
  height: 8px;
}
.upload-levels__item:nth-child(2) .upload-levels__marker {
  left: 50%;
  transform: translate(-50%, -50%);
}
.upload-levels__item:last-child .upload-levels__marker {
  left: 0;
  right: auto;
}
.upload-levels__item--active .upload-levels__marker {
  @apply bg-white border-none shadow-md;
}
.upload-levels__item--active .upload-levels__marker::after {
  content: "";
  @apply absolute bg-red rounded-full z-10;
  width: 8px;
  height: 8px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.upload-levels__marker {
  @apply absolute rounded-full border border-grey-dark z-0 bg-grey-lightest;
  width: 20px;
  height: 20px;
  top: 50%;
  transform: translate(0, -50%);
}
.upload-levels__item--active .upload-levels__content {
  display: flex;
  opacity: 1;
  transition: opacity 0.4s 1s;
}
@media screen and (min-width: 768px) {
  .upload-levels__content {
    left: 50%;
    right: auto;
    transform: translate(-50%, 0);
  }
}
.upload-levels__content::before {
  content: "";
  @apply absolute z-20;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 6px solid white;
  top: 100%;
  right: 10px;
  left: auto;
}
@media screen and (min-width: 768px) {
  .upload-levels__content::before {
    left: 50%;
    right: auto;
    transform: translate(-50%, 0);
  }
}
.upload-levels__content::after {
  content: "";
  @apply absolute z-10;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-top: 7px solid #adb5bd;
  top: 100%;
  left: auto;
  right: 9px;
}
@media screen and (min-width: 768px) {
  .upload-levels__content::after {
    transform: translate(-50%, 0);
    left: 50%;
    right: auto;
  }
}
.upload-levels__content span {
  @apply text-grey-dark;
}
.upload-levels__item:first-child .upload-levels__content {
  left: calc(50% - 10px);
}
.upload-levels__item:last-child .upload-levels__content {
  left: calc(50% + 10px);
}

.upload-levels__marker::after {
  transition: all 0.3s;
}

.filled .upload-levels__marker::after {
  @apply bg-red absolute rounded-full z-0;
  content: "";
  width: calc(100% + 2px);
  height: calc(100% + 2px);
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.upload-levels__list::after {
  content: "";
  transition: all 1s;
  width: 0;
  top: 50%;
  height: 1px;
  @apply absolute bg-red pin-r;
  transform: translateY(-50%);
  z-index: -1;
}

.upload-levels__list.half::after {
  @apply w-1/2 bg-red;
}

.upload-levels__list.full::after {
  @apply w-full bg-red;
}

.tag {
  @apply border rounded text-xs px-3 py-1;
}
.tag--danger {
  @apply bg-red-lightest border-red text-red-darker;
}
.tag--info {
  @apply bg-blue-lightest border-blue text-blue-darker;
}
.tag--success {
  @apply bg-green-lightest border-green text-green-darker;
}
.tag--warning {
  @apply bg-yellow-lightest border-yellow text-yellow-darker;
}
.tag--primary {
  @apply bg-indigo-lightest border-indigo text-indigo-darker;
}
.tag--transparent {
  @apply border-none text-white shadow;
  background: rgba(255, 255, 255, 0.3);
}
.tag--white {
  @apply bg-white border-none;
}

.tabs {
  @apply flex bg-white w-full relative rounded rounded-b-none;
}

.tab-header {
  @apply flex px-6 border rounded rounded-b-none w-full;
  min-height: 50px;
  line-height: calc(50px - 2px);
}
.tab-content {
  @apply absolute w-full border rounded rounded-t-none px-6 py-6 bg-white;
  top: 50px;
}
.tab-pane {
  @apply border-b-2 border-transparent ml-6;
}
.tab-pane--active {
  @apply border-red;
}
.tab-name a {
  @apply no-underline text-grey-dark;
}

.alert {
  @apply text-right px-8 py-4 text-sm rounded bg-white shadow-md flex items-center fixed z-50 overflow-hidden leading-loose;
  min-width: 300px;
  max-width: 500px;
  min-height: 40px;
}
.alert::before, .alert::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  height: 3px;
}
.alert::before {
  width: 100%;
}
.alert::after {
  background-color: white;
  width: 0;
  animation: slide 5s ease-in;
}
.alert--success {
  @apply text-white bg-purple;
}
.alert--success::before {
  @apply bg-purple-dark;
}
.alert--danger {
  @apply text-white bg-red;
}
.alert--danger::before {
  @apply bg-red-dark;
}
.alert--warning {
  @apply text-yellow-darker bg-yellow;
}
.alert--warning::before {
  @apply bg-yellow-dark;
}
.alert--info {
  @apply text-white bg-blue;
}
.alert--info::before {
  @apply bg-blue-dark;
}
.alert--danger .alert__mark {
  @apply absolute pin-r inline-flex items-center justify-center;
}
.alert--success .alert__mark {
  @apply absolute pin-r flex items-center justify-center;
}
.alert--flash {
  position: fixed;
  left: 25px;
  bottom: 25px;
}

.modal {
  @apply fixed w-full h-full pin-t pin-l pin-r pin-b z-20 flex items-center;
  background: rgba(0, 0, 0, 0.9);
}
.modal__wrapper {
  @apply mx-auto w-1/2 bg-white rounded flex flex-wrap;
}
.modal__body {
  @apply w-full px-6 py-6;
}
.modal__footer {
  @apply w-full bg-grey-light px-6 py-6 w-full;
}
.modal__footer:empty {
  display: none;
}
.modal__close {
  @apply text-white absolute pin-t pin-r pt-6 pr-6 text-4xl cursor-pointer;
  height: 50px;
  width: 50px;
}

.pagination {
  @apply flex items-center justify-center w-full list-reset text-sm;
}
.pagination li {
  @apply mx-2;
}
.pagination li a, .pagination li.page-caret i {
  @apply text-grey-dark;
}
.pagination span.page-link {
  @apply text-indigo;
}

.search-box {
  @apply relative h-12;
}

.search-input {
  @apply w-full bg-grey-lightest px-8 py-4 rounded absolute pin-r pin-t;
}
.search-input:focus {
  @apply border border-grey-dark;
}

.search-icon {
  @apply absolute pin-l pl-8 text-grey;
  top: 50%;
  transform: translateY(-50%);
}

.carousel {
  @apply relative flex justify-center flex-col w-full;
}

.carousel__item {
  @apply absolute flex w-full py-0 opacity-0 flex-col;
  align-items: center;
  filter: drop-shadow(0 2px 2px #555);
  will-change: transform, opacity;
  animation: carousel-animate-vertical 20s linear infinite;
}

.carousel__item:nth-child(1) {
  animation-delay: calc(4s * -1);
}

.carousel__item:nth-child(2) {
  animation-delay: calc(4s * 0);
}

.carousel__item:nth-child(3) {
  animation-delay: calc(4s * 1);
}

.carousel__item:nth-child(4) {
  animation-delay: calc(4s * 2);
}

.carousel__item:last-child {
  animation-delay: calc(-4s * 2);
}

@keyframes carousel-animate-vertical {
  0% {
    -webkit-transform: translateY(100%) scale(0.5);
    -moz-transform: translateY(100%) scale(0.5);
    -ms-transform: translateY(100%) scale(0.5);
    -o-transform: translateY(100%) scale(0.5);
    transform: translateY(100%) scale(0.5);
    opacity: 0;
    visibility: hidden;
  }
  3%, 20% {
    transform: translateY(100%) scale(0.7);
    opacity: 0.4;
    visibility: visible;
  }
  23%, 40% {
    transform: translateY(0) scale(1);
    opacity: 1;
    visibility: visible;
  }
  43%, 60% {
    transform: translateY(-100%) scale(0.7);
    opacity: 0.4;
    visibility: visible;
  }
  63% {
    transform: translateY(-100%) scale(0.5);
    opacity: 0;
    visibility: visible;
  }
  100% {
    transform: translateY(-100%) scale(0.5);
    opacity: 0;
    visibility: hidden;
  }
}
/* Pages */
.post {
  @apply bg-grey-lightest relative pt-24 pb-12 mb-8;
  direction: ltr;
}
.post__thumb {
  @apply absolute pin-r pin-t;
  width: 40%;
  height: 100%;
  background-size: cover;
  background-position: center;
}
.post__body {
  @apply pl-32 text-left;
}
.post__date {
  @apply absolute pin-t bg-red text-white px-4 py-2 z-10;
  left: 100px;
}
.post__author {
  @apply font-bold text-grey-dark;
}
.post__title {
  @apply text-xl relative mb-2 leading-loose text-left;
}
.post__title a {
  @apply text-indigo-darkest;
}
.post__title::before {
  content: "";
  @apply bg-red absolute pin-t;
  left: -30px;
  width: 5px;
  height: 100px;
}

.article {
  @apply text-grey-darker leading-loose;
}
.article blockquote {
  @apply relative pr-8 italic border-r-4 border-black text-lg text-black;
}

.hero {
  @apply w-full flex relative items-center justify-center flex-col;
  background-repeat: no-repeat;
  background-size: cover;
  height: 400px;
  background-position: center;
}
.hero:after {
  @apply absolute pin-t pin-l w-full h-full z-0;
  content: "";
  background-color: rgba(0, 0, 0, 0.6);
}
.hero__title {
  @apply text-white z-10 text-center leading-loose mb-4 relative;
  max-width: 50%;
}
.hero__avatar {
  @apply rounded-full text-center relative z-10;
  width: 100px;
  height: 100px;
}
.hero__avatar img {
  @apply w-full;
}

.hero-home {
  position: absolute;
  width: 100%;
  top: -50%;
}

@media screen and (min-width: 1024px) {
  .-mt-300 {
    margin-top: -300px;
  }
}

.en .hero-home {
  right: -50%;
}

.home-hero {
  @apply bg-transparent;
  min-height: auto;
}
@media screen and (min-width: 1024px) {
  .home-hero {
    min-height: 570px;
  }
}
.home-hero-bg {
  @apply absolute pin-l pin-b;
  z-index: -1;
  width: 100%;
  opacity: 0.3;
}
@media screen and (min-width: 768px) {
  .home-hero-bg {
    width: 668px;
    opacity: 1;
  }
}
@media screen and (min-width: 992px) {
  .home-hero-bg {
    width: 800px;
  }
}
@media screen and (min-width: 1024px) {
  .home-hero-bg {
    width: 1000px;
  }
}

.en-home-hero-bg {
  @apply pin-r;
  left: auto;
  transform: rotateY(180deg);
}

@media screen and (min-width: 1024px) {
  .service-card {
    width: 380px;
    min-height: 500px;
  }
}

@media screen and (min-width: 992px) {
  .en .home-hero {
    background-position: calc(100% + 560px) -150px;
  }
}
@media screen and (min-width: 1200px) {
  .en .home-hero {
    background-position: calc(100% + 360px) -150px;
  }
}

.contact-ways::before {
  @apply bg-grey-lightest;
  content: "";
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  top: 0;
  -webkit-transform: skewY(-12deg);
  -moz-transform: skewY(-12deg);
  -ms-transform: skewY(-12deg);
  -o-transform: skewY(-12deg);
  transform: skewY(-12deg);
}

.fa-contact-ways::before {
  -webkit-transform: skewY(12deg);
  -moz-transform: skewY(12deg);
  -ms-transform: skewY(12deg);
  -o-transform: skewY(12deg);
  transform: skewY(12deg);
}

.home-connection {
  position: absolute;
  height: 100%;
  right: -10%;
}

.home-contact {
  @apply bg-grey-lightest items-center;
  display: none;
}
@media screen and (min-width: 1024px) and (max-width: 1300px) {
  .home-contact {
    @apply bg-white;
  }
}
@media screen and (min-width: 1368px) {
  .home-contact {
    @apply bg-grey-lighter;
  }
}
.home-contact-img-wrapper {
  min-height: 400px;
}
@media screen and (min-width: 1024px) {
  .home-contact-img-wrapper {
    min-height: 600px;
  }
}
.home-contact-img {
  @apply absolute z-0;
  top: 55%;
  transform: translateY(-50%);
}

.fa .home-contact-img {
  right: -30%;
}

.en .home-contact-img {
  left: -30%;
}

.home-contact-bg {
  @apply absolute z-0 hidden;
  top: 50%;
  transform: translateY(-50%);
  max-width: 110%;
}
@media screen and (min-width: 1024px) and (max-width: 1300px) {
  .home-contact-bg {
    @apply flex;
  }
}

.your-comments {
  min-height: 650px;
}
@media screen and (min-width: 768px) {
  .your-comments {
    min-height: 450px;
  }
}

.cloud-left {
  left: -215px;
  right: auto;
}

.cloud-right {
  right: -200px;
  left: auto;
}

/** Animation **/
/**
 * Here you would add any of your custom component classes; stuff that you'd
 * want loaded *before* the utilities so that the utilities could still
 * override them.
 *
 * Example:
 *
 * .btn { ... }
 * .form-input { ... }
 *
 * Or if using a preprocessor or `postcss-import`:
 *
 * @import "components/buttons";
 * @import "components/forms";
 */
.bg-gradient-primary {
  @apply .bg-indigo-darkest;
}

/**
 * This injects all of Tailwind's utility classes, generated based on your
 * config file.
 *
 * If using `postcss-import`, use this import instead:
 *
 * @import "tailwindcss/utilities";
 */
@tailwind utilities;
/**
 * Here you would add any custom utilities you need that don't come out of the
 * box with Tailwind.
 *
 * Example :
 *
 * .bg-pattern-graph-paper { ... }
 * .skew-45 { ... }
 *
 * Or if using a preprocessor or `postcss-import`:
 *
 * @import "utilities/background-patterns";
 * @import "utilities/skew-transforms";
 */
.footer {
  background-image: url("../images/footer-bg.svg");
  background-size: cover;
  background-position: center center;
  min-height: 300px;
}

/*# sourceMappingURL=app.css.map */
