@charset "UTF-8";
@import "~@uppy/core/dist/style.css";
@import "~@uppy/dashboard/dist/style.css";
/**
* This injects Tailwind's base styles, which is a combination of
* Normalize.css and some additional base styles.
*
* You can see the styles here:
* https://github.com/tailwindcss/tailwindcss/blob/master/css/preflight.css
*
* If using `postcss-import`, use this import instead:
*
* @import "tailwindcss/preflight";
*/
@tailwind preflight;
/**
 * This injects any component classes registered by plugins.
 *
 * If using `postcss-import`, use this import instead:
 *
 * @import "tailwindcss/components";
 */
@tailwind components;
/* Base */
::-webkit-input-placeholder {
  color: #8795a1 !important;
}

::-moz-placeholder {
  color: #8795a1 !important;
}

:-ms-input-placeholder {
  color: #8795a1 !important;
}

:-moz-placeholder {
  color: #8795a1 !important;
}

[v-cloak] {
  display: none;
}

body {
  @apply bg-grey-lightest text-right font-normal pb-16;
  direction: rtl;
  font-family: Sahel;
}

h1, h2, h3, h4, h5, h6 {
  @apply text-grey-darkest;
}

a {
  @apply .text-blue .no-underline outline-none;
}

hr {
  @apply border-t-2 border-grey-lighter mb-8;
}

.absolute-center {
  @apply absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.container {
  @apply w-full mx-auto px-4;
  background-size: cover;
  background-repeat: no-repeat;
}

@screen sm {
  .container {
    max-width: 576px;
  }
}
@screen md {
  .container {
    max-width: 768px;
  }
}
@screen lg {
  .container {
    max-width: 992px;
  }
}
@screen xl {
  .container {
    max-width: 1200px;
  }
}
.uppy-Root {
  font-family: "Sahel" !important;
}

.uppy-Dashboard-inner {
  border: 1px dashed #ced4da !important;
}

.uppy-Dashboard-browse {
  text-decoration: none !important;
}

.uppy-DashboardAddFiles {
  background-image: url("../images/upload-background.svg");
  background-repeat: no-repeat;
  background-position: center center;
  justify-content: flex-end !important;
  padding-bottom: 4rem;
  text-align: right;
}

.uppy-size--md .uppy-Dashboard-dropFilesTitle {
  font-size: 14px !important;
  max-width: 600px !important;
}

.uppy-DashboardItem-statusSize {
  direction: ltr;
}

.uppy-DashboardContent-bar {
  flex-direction: row-reverse !important;
  border-bottom: 1px dashed #ced4da !important;
}

.uppy-size--md .uppy-DashboardItem {
  float: right !important;
}

.uppy-size--md .uppy-DashboardItem-action {
  right: auto !important;
  left: -8px !important;
}

.uppy-DashboardItem-action {
  right: auto !important;
  left: 10px !important;
}

.uppy-size--md .uppy-StatusBar {
  height: 60px !important;
}

.uppy-StatusBar {
  @apply z-10;
}
.uppy-StatusBar.is-uploading {
  background-color: #E3F5FD !important;
}
.uppy-StatusBar.is-uploading::before {
  background-color: #A3DFF8 !important;
}
.uppy-StatusBar.is-uploading .uppy-StatusBar-progress {
  background-color: #0CAAEE;
}
.uppy-StatusBar.is-uploading .uppy-StatusBar-content {
  color: #055070 !important;
  position: relative;
  padding-right: 50px;
}
.uppy-StatusBar.is-uploading .uppy-StatusBar-content::before {
  position: absolute;
  content: "";
  background-image: url("../images/alert-document.svg");
  width: 34px;
  height: 45px;
  background-repeat: no-repeat;
  background-position: right center;
  right: 10px;
}
.uppy-StatusBar.is-uploading .uppy-StatusBar-content svg {
  display: none !important;
}
.uppy-StatusBar.is-error {
  background-color: #ffeded !important;
}
.uppy-StatusBar.is-error::before {
  background-color: #ff5a5d !important;
}
.uppy-StatusBar.is-error .uppy-StatusBar-progress {
  background-color: #ff5a5d !important;
}
.uppy-StatusBar.is-error .uppy-StatusBar-content {
  color: #782a2b !important;
  position: relative;
  padding-right: 50px;
}
.uppy-StatusBar.is-error .uppy-StatusBar-content svg {
  display: none !important;
}
.uppy-StatusBar.is-error .uppy-StatusBar-content::before {
  position: absolute;
  content: "";
  background-image: url("../images/alert-document-error.svg");
  width: 34px;
  height: 45px;
  background-repeat: no-repeat;
  background-position: right center;
  right: 10px;
}
.uppy-StatusBar.is-complete {
  background-color: #e8fffe !important;
}
.uppy-StatusBar.is-complete::before {
  background-color: #00B38F !important;
}
.uppy-StatusBar.is-complete .uppy-StatusBar-progress {
  background-color: #00B38F !important;
}
.uppy-StatusBar.is-complete .uppy-StatusBar-content {
  color: #20504f !important;
  position: relative;
  padding-right: 50px;
}
.uppy-StatusBar.is-complete .uppy-StatusBar-content svg {
  display: none !important;
}
.uppy-StatusBar.is-complete .uppy-StatusBar-content::before {
  position: absolute;
  content: "";
  background-image: url("../images/alert-document-success.svg");
  width: 34px;
  height: 45px;
  background-repeat: no-repeat;
  background-position: right center;
  right: 10px;
}

.uppy-size--md .uppy-StatusBar.is-waiting .uppy-StatusBar-actionBtn--upload {
  box-shadow: 0 3px 24px rgba(90, 93, 255, 0.3) !important;
  background-image: linear-gradient(to left, #5A5DFF, #A9AAFF) !important;
  border-radius: 50px !important;
  padding-left: 24px !important;
  padding-right: 24px !important;
  padding-top: 12px !important;
  padding-bottom: 12px !important;
  text-align: center !important;
}

.uppy.uppy-Informer p {
  @apply bg-white shadow;
  border-top: 3px solid #ff5a5d;
  border-radius: 4px !important;
  color: #ff5a5d !important;
}

trix-editor {
  @apply bg-white;
  border: 1px solid #dae1e7 !important;
  min-height: 300px !important;
}
trix-editor:focus {
  @apply border-indigo;
}

.dashboard-title {
  @apply mb-3;
}

.dashboard-text {
  @apply text-grey-dark leading-normal text-sm;
}

.form-excerpt {
  @apply text-grey-dark text-xs leading-normal;
}

.title-custom-bg {
  background-image: url("../images/custom-title-bg.svg");
  background-size: 250px 250px;
  background-repeat: no-repeat;
  background-position: center center;
}

.title {
  @apply text-red relative inline-flex items-center mb-6;
  padding-right: 100px;
}
.title::before {
  content: "";
  @apply absolute h-1 bg-red pin-r;
  top: 50%;
  transform: translate(0, -50%);
  width: 80px;
}

.list {
  @apply list-reset mx-auto;
}
.list li {
  @apply relative text-sm pr-6 text-right mb-3 leading-normal;
}
.list li::before {
  content: "";
  @apply absolute pin-r bg-green-light rounded-full;
  width: 10px;
  height: 10px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}

/* Components */
.button {
  @apply text-white px-6 py-3 rounded-full relative z-10 inline-flex .no-underline items-center;
  transition: all 0.3s;
}
.button:hover {
  transform: translateY(-2px);
}
.button--sm {
  @apply text-sm px-3 py-2;
}
.button--block {
  @apply w-full justify-center;
}
.button--primary {
  box-shadow: 0 3px 24px rgba(90, 93, 255, 0.3);
  background-image: linear-gradient(to left, #5A5DFF, #A9AAFF);
}
.button--primary:hover {
  box-shadow: 0 5px 24px rgba(90, 93, 255, 0.4);
}
.button--success {
  background-image: linear-gradient(to bottom left, #51d88a, #1f9d55);
  box-shadow: 0 3px 24px rgba(81, 216, 138, 0.3);
}
.button--success:hover {
  box-shadow: 0 5px 24px rgba(81, 216, 138, 0.4);
}
.button--smooth--danger {
  @apply bg-red-lightest text-red;
}
.button--smooth--danger:hover {
  transform: none;
}
.button--smooth--primary {
  @apply bg-indigo-lightest text-indigo;
}
.button--smooth--primary:disabled {
  @apply bg-grey-lighter text-indigo-lighter;
}
.button--smooth--primary:hover {
  transform: none;
}
.button--smooth--success {
  @apply bg-green-lightest text-green;
}
.button--smooth--success:hover {
  transform: none;
}
.button--outline {
  @apply bg-transparent rounded text-grey-dark;
  transition: none;
}
.button--outline i {
  @apply mr-2;
}
.button--outline--danger {
  @apply border border-red text-red;
}
.button--outline--danger:hover {
  @apply bg-red text-white;
  transform: none;
}
.button--outline--danger:hover i {
  @apply text-white;
}
.button--outline--danger i {
  @apply text-red;
}
.button--outline--primary {
  @apply border border-indigo text-indigo text-sm;
}
.button--outline--primary:hover {
  @apply bg-indigo text-white;
  transform: none;
}
.button--simple {
  @apply bg-white text-grey-darker shadow;
}
.button--thin {
  @apply px-6 py-2 text-xs;
}
.button--default {
  @apply .bg-grey-lighter .text-blue-darker rounded text-sm px-6;
}
.button--default:hover {
  transform: translate(0px);
  @apply bg-grey-light;
}
.button:active {
  transform: translateY(0px);
  box-shadow: none;
}

.card-button {
  @apply absolute pin-l text-2xl bg-green-lightest text-green rounded rounded-r-none pin-t h-full;
  width: 60px;
}

.button > img.loader {
  max-width: 40px;
}

.textarea {
  @apply p-3 border text-sm w-full rounded;
  min-height: 200px;
}
.textarea:focus {
  @apply border-indigo;
}

.input {
  @apply p-3 border text-sm rounded;
}
.input--right {
  padding-right: 2.5rem !important;
}
.input:focus {
  @apply border-indigo;
}
.input-icon {
  @apply absolute pin-l h-full border bg-white rounded-tl rounded-bl flex items-center px-3 text-grey;
}
.input-icon--no-border {
  @apply border-none bg-transparent;
}
.input-icon--right {
  left: auto;
  @apply pin-r;
}
.input--rounded {
  @apply rounded;
}

.dashboard-input {
  @apply border rounded text-sm;
}
.dashboard-input:focus {
  @apply border-indigo;
}

.focusable-input {
  @apply w-full border-none text-grey-darker;
}
.focusable-input:focus {
  @apply absolute w-full z-20 pin-r pin-t h-full px-6 py-3 shadow-outline rounded;
  box-shadow: 0 0 0 3px rgba(89, 86, 255, 0.5);
  transition: box-shadow 0.2s;
}

.form-group input:not([type=checkbox]) {
  @apply block p-3 w-full;
}

.label-check {
  @apply overflow-hidden relative;
}
.label-check .check-toggle {
  @apply w-4 h-4 relative inline-block align-middle border border-grey-light rounded-sm cursor-pointer;
}
.label-check:hover .check-toggle {
  @apply border-indigo;
}
.label-check .check-custom {
  @apply absolute w-px h-px overflow-hidden;
  left: -10000px;
  top: auto;
}
.label-check .check-custom:checked ~ .check-toggle {
  @apply bg-indigo border-indigo;
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNiIgaGVpZ2h0PSIxNiIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSJub25lIiBzdHJva2U9IiNmZmZmZmYiIHN0cm9rZS13aWR0aD0iMyIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIj48cG9seWxpbmUgcG9pbnRzPSIyMCA2IDkgMTcgNCAxMiI+PC9wb2x5bGluZT48L3N2Zz4=);
  background-position: center;
  background-repeat: no-repeat;
  outline: 0;
}
.label-check .check-custom:checked:disabled ~ .check-toggle {
  @apply bg-grey border-grey;
}

.form-group label {
  @apply block text-grey-darker mb-3;
}

.form-group label.mb-0 {
  @apply mb-0;
}

.dashboard-label {
  @apply text-sm;
}

.form-group {
  @apply mb-6;
}

::selection {
  @apply bg-indigo text-white;
}

.select, select {
  @apply appearance-none shadow-none h-12 leading-normal py-3 relative align-top;
}

.select {
  height: auto !important;
}
.select::after {
  border-width: 2px;
  border: 3px solid transparent;
  border-radius: 2px;
  @apply border-r-0 border-t-0 border-grey-dark block mt-3 pointer-events-none absolute z-10;
  height: 0.625em;
  width: 0.625em;
  margin-top: -0.25em;
  content: "";
  left: 1.125em;
  top: 50%;
  transform: rotate(-45deg);
  transform-origin: center;
}
.select select {
  @apply px-3 bg-white border border-grey-light rounded outline-none text-grey-darkest block text-sm max-w-full cursor-pointer m-0 w-full;
}
.select select::placeholder {
  @apply text-grey;
}
.select .pdatepicker {
  @apply w-full rounded;
}
.select .pdatepicker .pdatepicker-dialog[data-v-fd75016c] {
  @apply border-none rounded shadow-md;
}
.select .pdatepicker .pdatepicker-dialog .day-view .day-box .hover-effect[data-v-fd75016c] {
  @apply text-white;
}
.select .pdatepicker .pdatepicker-dialog .chosen-day span[data-v-fd75016c] {
  @apply text-white;
}
.select .pdatepicker .pdatepicker-dialog .day-view .day-box[data-v-fd75016c]:hover {
  @apply text-indigo-darker;
}
.select .pdatepicker .pdatepicker-dialog .day-view .pdatepicker-dialog-month .monthName[data-v-fd75016c]:hover {
  @apply bg-indigo-lightest;
}
.select .pdatepicker .pdatepicker-dialog .day-view .pdatepicker-dialog-month .preMonth[data-v-fd75016c]:hover,
.select .pdatepicker .pdatepicker-dialog .day-view .pdatepicker-dialog-month .nextMonth[data-v-fd75016c]:hover {
  @apply bg-indigo-lightest;
}
.select .pdatepicker .pdatepicker-dialog .day-view .day-name[data-v-fd75016c] {
  @apply border-none text-grey-dark;
}
.select .pdatepicker .pdatepicker-dialog .day-view .day-name[data-v-fd75016c]:hover {
  @apply border-none;
}
.select .pdatepicker .pdatepicker-dialog .day-view .day-box.disabled-day[data-v-fd75016c] {
  @apply bg-transparent text-grey;
}
.select .pdatepicker .pdatepicker-dialog .pdatepicker-dialog-header[data-v-fd75016c] {
  @apply shadow-none rounded rounded-b-none bg-transparent;
}
.select .date-picker {
  @apply appearance-none shadow-none h-12 leading-normal py-3 relative align-top border border-grey-light rounded;
  width: 100% !important;
  text-align: right !important;
  padding-right: 1rem !important;
  padding-left: 1rem !important;
}
.select .date-picker::placeholder, .select .date-picker::placeholder {
  @apply text-sm;
  color: #3d4852 !important;
  opacity: 1 !important;
}

.has-icon {
  @apply inline-flex items-center;
}
.has-icon i {
  @apply ml-1 relative;
}

.card {
  @apply bg-white p-8 shadow rounded;
}
.card-type-1 {
  @apply bg-purple text-white relative;
  z-index: -1;
}
.card-type-1::before {
  @apply absolute pin-l pin-t text-sm bg-purple-darker p-1 rounded mt-3 ml-3;
  content: "تائید شده";
}
.card-type-2 {
  @apply bg-orange text-white relative;
}
.card-type-2::before {
  @apply absolute pin-l pin-t text-sm bg-orange-darker p-1 rounded mt-3 ml-3;
  content: "پرداخت شد";
}
.card-type-3 {
  @apply bg-green text-white relative;
  z-index: -1;
}
.card-type-3::before {
  @apply absolute pin-l pin-t text-sm bg-green-darker p-1 rounded mt-3 ml-3;
  content: "تحویل یافت";
}
.card-type-1 .card__title, .card-type-2 .card__title, .card-type-3 .card__title {
  @apply text-white;
}
.card-type-1 .card__doc-icon, .card-type-2 .card__doc-icon, .card-type-3 .card__doc-icon {
  @apply rounded-full text-center relative mb-6;
  background: rgba(255, 255, 255, 0.3);
}
.card-type-1 .card__doc-icon img, .card-type-2 .card__doc-icon img, .card-type-3 .card__doc-icon img {
  @apply absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.card__price {
  @apply text-2xl text-white border-white py-3;
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.feedback--invalid {
  @apply .bg-red-lightest px-3 .py-2 .text-red-dark rounded .border-r-4 .border-red text-xs .leading-normal;
}

.navbar {
  @apply py-4 mb-24 relative;
}
.navbar__nav {
  @apply flex list-reset;
}
.navbar__nav li {
  @apply ml-6;
}
.navbar__nav a {
  @apply no-underline text-grey-dark;
}
.navbar__nav a.active {
  @apply text-red;
}

.dashboard-nav {
  @apply fixed pin-r pin-t bg-white h-full shadow z-50;
  width: 250px;
  max-width: 250px;
}
.dashboard-nav__parent {
  @apply relative;
}
.dashboard-nav__user {
  @apply text-center pb-6 mb-6;
}
.dashboard-nav__user span {
  @apply text-grey-dark text-xs;
}
.dashboard-nav__avatar {
  @apply rounded-full mx-auto mb-3 shadow-lg relative;
  width: 100px;
  height: 100px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
.dashboard-nav__avatar-gear {
  @apply bg-indigo inline-flex text-white items-center justify-center rounded-full absolute cursor-pointer shadow-md;
  width: 25px;
  height: 25px;
  bottom: 5px;
  left: 5px;
}
.dashboard-nav__avatar-gear i {
  @apply text-white;
}
.dashboard-nav__list {
  @apply list-reset pb-4 border-b border-grey-lighter mb-8;
}
.dashboard-nav__list a {
  @apply no-underline text-grey-darkest text-sm w-full px-6 py-4;
}
.dashboard-nav__list a:hover {
  @apply text-indigo bg-indigo-lightest;
}
.dashboard-nav__list a:hover:hover i {
  @apply text-indigo;
}
.dashboard-nav__list a i {
  @apply text-grey-dark text-base;
}
.dashboard-nav__back {
  @apply absolute pin-b p-6 border-t border-grey-lighter w-full text-center;
}
.dashboard-nav__back a {
  @apply no-underline text-xs;
}
.dashboard-nav__back a i {
  @apply text-sm;
}

.dropdown {
  @apply relative z-20;
}
.dropdown ul {
  @apply list-reset shadow-md rounded py-6 text-sm bg-white;
}
.dropdown a {
  @apply flex items-center text-grey-darker no-underline;
}
.dropdown a i {
  @apply ml-3;
}
.dropdown__content {
  @apply absolute z-50 shadow border border-grey-light py-6 rounded bg-white text-sm;
}
.dropdown__content--left {
  @apply pin-l;
  top: 100%;
}
.dropdown__content a {
  @apply pr-4 pl-12 py-1 leading-loose;
}
.dropdown__content a:hover {
  @apply bg-grey-lighter;
}
.dropdown_toggler {
  @apply cursor-pointer;
}
.dropdown__title {
  @apply text-grey pr-4 pl-8 text-right block mb-4;
}

.upload-levels {
  @apply flex w-3/4 mx-auto items-center mb-8;
}
.upload-levels__title {
  @apply ml-8;
}
.upload-levels__list {
  @apply flex list-reset flex-1 justify-between w-full relative;
}
.upload-levels__list::before {
  content: "";
  position: absolute;
  width: 100%;
  @apply bg-grey-dark;
  left: 0;
  top: 50%;
  transform: translate(0, -50%);
  height: 1px;
  z-index: -1;
}
.upload-levels__item {
  position: relative;
}
.upload-levels__item:nth-child(2) .upload-levels__marker {
  left: 50%;
  transform: translate(-50%, -50%);
}
.upload-levels__item:last-child .upload-levels__marker {
  left: 0;
  right: auto;
}
.upload-levels__item--active .upload-levels__marker {
  @apply bg-white border-none shadow-md;
}
.upload-levels__item--active .upload-levels__marker::after {
  content: "";
  @apply absolute bg-red rounded-full z-10;
  width: 8px;
  height: 8px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.upload-levels__marker {
  @apply absolute rounded-full border border-grey-dark z-0 bg-grey-lightest;
  width: 20px;
  height: 20px;
  top: 50%;
  transform: translate(0, -50%);
}
.upload-levels__item--active .upload-levels__content {
  display: flex;
  opacity: 1;
  transition: opacity 0.4s 1s;
}
.upload-levels__content {
  @apply bg-white absolute border text-center flex flex-col py-3 text-sm rounded shadow;
  width: 135px;
  left: 50%;
  bottom: calc(100% + 20px);
  transform: translate(-50%, 0);
  opacity: 0;
}
.upload-levels__content::before {
  content: "";
  @apply absolute z-20;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 6px solid white;
  top: 100%;
  left: 50%;
  transform: translate(-50%, 0);
}
.upload-levels__content::after {
  content: "";
  @apply absolute z-10;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-top: 7px solid #adb5bd;
  top: 100%;
  left: 50%;
  transform: translate(-50%, 0);
}
.upload-levels__content span {
  @apply text-grey-dark;
}
.upload-levels__item:first-child .upload-levels__content {
  left: calc(50% - 10px);
}
.upload-levels__item:last-child .upload-levels__content {
  left: calc(50% + 10px);
}

.upload-levels__marker::after {
  transition: all 0.3s;
}

.filled .upload-levels__marker::after {
  @apply bg-red absolute rounded-full z-0;
  content: "";
  width: calc(100% + 2px);
  height: calc(100% + 2px);
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.upload-levels__list::after {
  content: "";
  transition: all 1s;
  width: 0;
  top: 50%;
  height: 1px;
  @apply absolute bg-red pin-r;
  transform: translateY(-50%);
  z-index: -1;
}

.upload-levels__list.half::after {
  @apply w-1/2 bg-red;
}

.upload-levels__list.full::after {
  @apply w-full bg-red;
}

.tag {
  @apply border rounded text-xs px-3 py-1;
}
.tag--danger {
  @apply bg-red-lightest border-red text-red-darker;
}
.tag--info {
  @apply bg-blue-lightest border-blue text-blue-darker;
}
.tag--success {
  @apply bg-green-lightest border-green text-green-darker;
}
.tag--primary {
  @apply bg-indigo-lightest border-indigo text-indigo-darker;
}
.tag--transparent {
  @apply border-none text-white shadow;
  background: rgba(255, 255, 255, 0.3);
}

.tabs {
  @apply flex bg-white w-full relative rounded rounded-b-none;
}

.tab-header {
  @apply flex px-6 border rounded rounded-b-none w-full;
  min-height: 50px;
  line-height: calc(50px - 2px);
}
.tab-content {
  @apply absolute w-full border rounded rounded-t-none px-6 py-6 bg-white;
  top: 50px;
}
.tab-pane {
  @apply border-b-2 border-transparent ml-6;
}
.tab-pane--active {
  @apply border-indigo;
}
.tab-name a {
  @apply no-underline text-grey-dark;
}

.alert {
  @apply text-right px-8 py-4 text-sm rounded bg-white shadow-md flex items-center fixed z-50 overflow-hidden leading-loose;
  min-width: 300px;
  max-width: 500px;
  min-height: 40px;
}
.alert::before, .alert::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  height: 3px;
}
.alert::before {
  width: 100%;
}
.alert::after {
  background-color: white;
  width: 0;
  animation: slide 5s ease-in;
}
.alert--success {
  @apply text-white bg-purple;
}
.alert--success::before {
  @apply bg-purple-dark;
}
.alert--danger {
  @apply text-white bg-red;
}
.alert--danger::before {
  @apply bg-red-dark;
}
.alert--warning {
  @apply text-yellow-darker bg-yellow;
}
.alert--warning::before {
  @apply bg-yellow-dark;
}
.alert--info {
  @apply text-white bg-blue;
}
.alert--info::before {
  @apply bg-blue-dark;
}
.alert--danger .alert__mark {
  @apply absolute pin-r inline-flex items-center justify-center;
}
.alert--success .alert__mark {
  @apply absolute pin-r flex items-center justify-center;
}
.alert--flash {
  position: fixed;
  left: 25px;
  bottom: 25px;
}

.modal {
  @apply fixed w-full h-full pin-t pin-l pin-r pin-b z-20 flex items-center;
  background: rgba(0, 0, 0, 0.9);
}
.modal__wrapper {
  @apply mx-auto w-1/2 bg-white rounded flex flex-wrap;
}
.modal__body {
  @apply w-full px-6 py-6;
}
.modal__footer {
  @apply w-full bg-grey-light px-6 py-6 w-full;
}
.modal__footer:empty {
  display: none;
}
.modal__close {
  @apply text-white absolute pin-t pin-r pt-6 pr-6 text-4xl cursor-pointer;
  height: 50px;
  width: 50px;
}

.pagination {
  @apply flex items-center justify-center w-full list-reset text-sm;
}
.pagination li {
  @apply mx-2;
}
.pagination li a, .pagination li.page-caret i {
  @apply text-grey-dark;
}
.pagination span.page-link {
  @apply text-indigo;
}

.search-box {
  @apply relative h-12;
}

.search-input {
  @apply w-full bg-grey-lightest px-8 py-4 rounded absolute pin-r pin-t;
}

.search-icon {
  @apply absolute pin-l pl-8 text-grey;
  top: 50%;
  transform: translateY(-50%);
}

/* Pages */
.contact {
  background-image: url("../images/contact.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

.post {
  @apply bg-grey-lightest relative pt-24 pb-12 mb-8;
}
.post__thumb {
  @apply absolute pin-l pin-t;
  width: 40%;
  height: 100%;
  background-size: cover;
  background-position: center;
}
.post__body {
  @apply pr-32;
}
.post__date {
  @apply absolute pin-t bg-red text-white px-4 py-2;
  right: 100px;
}
.post__author {
  @apply font-bold text-grey-dark;
}
.post__title {
  @apply text-xl relative mb-2 leading-loose;
}
.post__title a {
  @apply text-indigo-darkest;
}
.post__title::before {
  content: "";
  @apply bg-red absolute pin-t;
  right: -30px;
  width: 5px;
  height: 100px;
}

.article {
  @apply text-grey-darker leading-loose;
}
.article blockquote {
  @apply relative pr-8 italic border-r-4 border-black text-lg text-black;
}

.hero {
  @apply w-full mb-8 flex relative items-center justify-center flex-col;
  background-repeat: no-repeat;
  background-size: cover;
  height: 400px;
  background-position: center;
}
.hero:after {
  @apply absolute pin-t pin-l w-full h-full z-0;
  content: "";
  background-color: rgba(0, 0, 0, 0.6);
}
.hero__title {
  @apply text-white z-10 text-4xl text-center leading-loose mb-4 relative;
  max-width: 50%;
}
.hero__avatar {
  @apply rounded-full text-center relative z-10;
  width: 100px;
  height: 100px;
}
.hero__avatar img {
  @apply w-full;
}

/**
 * Here you would add any of your custom component classes; stuff that you'd
 * want loaded *before* the utilities so that the utilities could still
 * override them.
 *
 * Example:
 *
 * .btn { ... }
 * .form-input { ... }
 *
 * Or if using a preprocessor or `postcss-import`:
 *
 * @import "components/buttons";
 * @import "components/forms";
 */
.bg-gradient-primary {
  @apply .bg-indigo-darkest;
}

/**
 * This injects all of Tailwind's utility classes, generated based on your
 * config file.
 *
 * If using `postcss-import`, use this import instead:
 *
 * @import "tailwindcss/utilities";
 */
@tailwind utilities;
/**
 * Here you would add any custom utilities you need that don't come out of the
 * box with Tailwind.
 *
 * Example :
 *
 * .bg-pattern-graph-paper { ... }
 * .skew-45 { ... }
 *
 * Or if using a preprocessor or `postcss-import`:
 *
 * @import "utilities/background-patterns";
 * @import "utilities/skew-transforms";
 */

/*# sourceMappingURL=app.css.map */
