.alert {
  @apply text-center px-24 py-8 text-sm rounded bg-white shadow-md flex items-center fixed z-20 overflow-hidden;
  min-width: 300px;
  max-width: 500px;
  min-height: 40px;

  img {
    width: 60px;
    margin-right: 20px;
  }

  &--success {
    @apply text-teal-darker;
  }

  &--danger {
    @apply text-red-darker;
  }

  &--danger &__mark {
    @apply absolute pin-r inline-flex items-center justify-center;
  }

  &--success &__mark {
    @apply absolute pin-r flex items-center justify-center;
  }

  &--flash {
    position: fixed;
    left: 25px;
    bottom: 25px;
  }
}