.button {
 @apply text-white px-6 py-3 rounded-full relative z-10 inline-flex .no-underline items-center;
 transition: all .3s;

 &:hover {
   transform: translateY(-2px);
 }

 &--primary {
   box-shadow: 0 3px 24px rgba(#5A5DFF, .3);
   background-image: linear-gradient(to left, #5A5DFF, #A9AAFF);

   &:hover {
     box-shadow: 0 5px 24px rgba(#5A5DFF, .4);
   }
 }

 &--success {
   background-image: linear-gradient(to bottom left, #51d88a, #1f9d55);
   box-shadow: 0 3px 24px rgba(#51d88a, .3);

   &:hover {
     box-shadow: 0 5px 24px rgba(#51d88a, .4);
   }
 }

 &--outline {
   @apply bg-transparent rounded text-grey-dark;
   transition: none;

   &:hover {
     transform: none;
   }
   
   i {
     @apply mr-2;
   }

   &--danger {
     @apply border border-red;

     i {
       @apply text-red;
     }
   }
 }

 &--simple {
   @apply bg-white text-grey-darker shadow;
 }

 &--thin {
   @apply px-6 py-2 text-xs;
 }

 &--default {
   @apply .bg-grey-lighter .text-blue-darker rounded text-sm px-6;

   &:hover {
     transform: translate(0px);
     @apply bg-grey-light;
   }
 }



 &:active {
   transform: translateY(0px);
   box-shadow: none;
 }
}