.dropdown-content ul {
  @apply list-reset;

  a {
    @apply text-grey-dark flex p-3;

    &:hover {
      @apply bg-indigo-lightest text-indigo-dark;
    }
  }
}

.dropdown-left .dropdown-content {
  left: 0;
  right: auto !important;
  top: 100% !important;
}