// Labels
.label {
  @apply block text-grey-darker mb-2;
}

// INPUTS
.textarea {
  @apply p-3 border text-sm w-full rounded leading-loose;
  min-height: 100px;

  &:focus {
    @apply border-indigo outline-none;
  }
}

.input {
  @apply appearance-none block w-full bg-grey-lighter text-grey-darker border border-grey-lighter rounded py-3 px-4 leading-tight;

  &--danger {
    @apply border border-red;
  }

  &--right {
    padding-right: 2.5rem !important;
  }

  &:focus {
    @apply outline-none bg-white border-grey;
  }

  &-icon {
    @apply absolute absolute-center pin-l ml-6 text-grey-dark;
  }
}


// Custom Checkboxes
.label-check {
  @apply overflow-hidden relative;

  .check-toggle {
    @apply w-4 h-4 relative inline-block align-middle border border-grey-light rounded-sm cursor-pointer;
  }

  &:hover .check-toggle {
    @apply border-indigo;
  }

  .check-custom {
    @apply absolute w-px h-px overflow-hidden;
    left: -10000px;
    top: auto;

    &:checked ~ .check-toggle {
      @apply bg-indigo border-indigo;
      background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNiIgaGVpZ2h0PSIxNiIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSJub25lIiBzdHJva2U9IiNmZmZmZmYiIHN0cm9rZS13aWR0aD0iMyIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIj48cG9seWxpbmUgcG9pbnRzPSIyMCA2IDkgMTcgNCAxMiI+PC9wb2x5bGluZT48L3N2Zz4=);
      background-position: center;
      background-repeat: no-repeat;
      outline: 0;
    }

    &:checked:disabled ~ .check-toggle {
      @apply bg-grey border-grey;
    }
  }
}

// LABELS
.form-group label {
  @apply block text-grey-darker mb-3;
}

.form-group label.mb-0 {
  @apply mb-0;
}

.dashboard-label {
  @apply text-sm;
}

// FORM GROUPS
.form-group  {
  @apply mb-6;
}

// SELECTS
::selection {
  @apply bg-indigo text-white;
}

.select {
  @apply relative z-0;

  select {
    @apply block appearance-none w-full bg-grey-lighter border border-grey-lighter text-grey-darker py-3 px-4 pl-8 rounded leading-tight;

    &:focus {
      @apply outline-none bg-white border-grey;
    }
  }

  &__icon {
    @apply pointer-events-none absolute pin-t pin-b pin-l flex items-center px-2 text-grey-darker;
  }

  &__svg {
    @apply fill-current h-4 w-4;
  }
}
