::-webkit-input-placeholder { color: #8795a1 !important; }
::-moz-placeholder { color: #8795a1 !important; }
:-ms-input-placeholder { color: #8795a1 !important; }
:-moz-placeholder { color: #8795a1 !important; }

body {
  @apply bg-grey-lightest text-right font-normal pb-16;
  direction: rtl;
  font-family: Sahel;
}

h1, h2, h3, h4, h5, h6 {
  @apply text-grey-darkest;
}


a {
  @apply .text-blue;
}

hr {
  @apply border-t-2 border-grey-lighter mb-8;
}