::-webkit-input-placeholder { color: #8795a1 !important; }
::-moz-placeholder { color: #8795a1 !important; }
:-ms-input-placeholder { color: #8795a1 !important; }
:-moz-placeholder { color: #8795a1 !important; }

[v-cloak] {
  display: none;
}

body {
  @apply bg-grey-lightest text-right font-normal;
  direction: rtl;
  font-family: Sahel;
}

h1, h2, h3, h4, h5, h6 {
  @apply text-grey-darkest;
}

a {
  @apply no-underline;
}

hr {
  @apply border-t-2 border-grey-lighter mb-8;
}

.absolute-center {
  @apply absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}